.navbar-brand {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.logo{
    width: 70px;
    height: auto;
}

.navColor{
    background-color: black;
}

.nav-item{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}